:root {
  --primary-dark: #15263e;
  --primary-light: #eceff4;
}
body {
  background-color: var(--primary-dark);
}
.App {
  font-family: sans-serif;
  text-align: center;
  border: 1px solid black;
  max-width: 50%;
  display: block;
  margin: 5px auto;
  border-radius: 10px;
  background-color: var(--primary-light);
  font-family: "Poppins", sans-serif;
}
.City h1 {
  font-weight: 700;
}

.Search .form {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.Search .user-entered-data {
  width: 60%;
  border-radius: 10px;
  font-size: 12px;
}
.Search .user-entered-submit {
  padding: 8px;
  border-radius: 10px;
  font-size: 12px;
  background-color: var(--primary-dark);
  color: var(--primary-light);
}
.Search .user-entered-submit:hover {
  background-color: #1d5d9b;
}

.degree {
  font-size: 16px;
  position: relative;
  bottom: 16px;
  font-weight: 600;
}

.grid-2-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  grid-gap: 10px;
}
.grid-2-columns-background {
  background: linear-gradient(
    112.1deg,
    rgb(32, 38, 57) 11.4%,
    rgb(63, 76, 119) 70.2%
  );
  color: var(--primary-light);
  border-radius: 10px;
  padding: 6px;
}

.Details p {
  font-size: 12px;
  margin-bottom: 0px;
}

.Footer p {
  font-size: 10px;
}

.Footer a {
  text-decoration: none;
  color: var(--primary-dark);
  font-weight: 600;
}

.Footer a:hover {
  text-decoration: underline;
}
@media (max-width: 800px) {
  .grid-2-columns {
    display: grid;
    grid-template-columns: 1fr;
  }

  h1 {
    font-size: 20px;
  }
  .degree {
    font-size: 8px;
    position: relative;
    bottom: 8px;
  }

  .Details p {
    font-size: 10px;
  }

  .Footer p {
    font-size: 10px;
  }
}
