:root {
    --primary-dark: #15263e;
    --primary-light: #eceff4;
    --primary-green: #2e4f4f;
    --primary-blue-hover: #1d5d9b;
    --primary-green-hover: #0e8388;
}
body {
    background-color: var(--primary-dark);
}
.App {
    font-family: sans-serif;
    text-align: center;
    border: 1px solid black;
    max-width: 50%;
    display: block;
    margin: 5px auto;
    border-radius: 10px;
    background-color: var(--primary-light);
    font-family: 'Poppins', sans-serif;
}
.City h1 {
    font-weight: 700;
}

.Cities {
    color: var(--primary-dark);
    text-decoration: none;
    font-weight: bolder;
}

.Cities:hover {
    color: var(--primary-blue-hover);
    text-decoration: underline;
}

.Day {
    color: var(--primary-dark);
    font-weight: bolder;
}

input {
    max-width: 300px;
    padding: 10px;
    border-radius: 10px;
    margin-right: 10px;
}

.CitySearch {
    background-color: var(--primary-dark);
    color: var(--primary-light);
    padding: 10px;
    border-radius: 10px;
    margin-right: 10px;
    transition: all 150ms ease-in-out;
}
.CitySearch:hover {
    background-color: var(--primary-blue-hover);
}

.CurrentSearch {
    background-color: var(--primary-green);
    color: var(--primary-light);
    padding: 10px;
    border-radius: 10px;
    margin-right: 10px;
    transition: all 150ms ease-in-out;
}

.CurrentSearch:hover {
    background-color: var(--primary-green-hover);
}

.degree {
    font-size: 16px;
    position: relative;
    bottom: 16px;
    font-weight: 600;
}

.grid-2-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    grid-gap: 10px;
}
.grid-2-columns-background {
    background: var(--primary-green);
    color: var(--primary-light);
    border-radius: 10px;
    padding: 6px;
    border: 6px solid var(--primary-dark);
}

.Details p {
    font-size: 12px;
    margin-bottom: 0px;
}

.Footer p {
    font-size: 14px;
}

.Footer a {
    text-decoration: none;
    color: var(--primary-dark);
    font-weight: 600;
}

.Footer a:hover {
    text-decoration: underline;
}

@media (max-width: 900px) {
    .grid-2-columns {
        display: grid;
        grid-template-columns: 1fr;
    }

    h1 {
        font-size: 20px;
    }
    .degree {
        font-size: 8px;
        position: relative;
        bottom: 8px;
    }

    .Details p {
        font-size: 10px;
    }

    .Footer p {
        font-size: 10px;
    }

    table {
        font-size: 12px;
        display: none;
    }

    .Day {
        font-size: 14px;
    }

    .ForecastDegrees {
        font-size: 12px;
    }
    input {
        max-width: 80%;
        font-size: 16px;
        margin-top: 10px;
    }
    .CitySearch {
        width: 100px;
        font-size: 16px;
        margin-top: 10px;
    }
    .CurrentSearch {
        width: 100px;
        font-size: 16px;
        margin-top: 10px;
    }
    .App {
        max-width: 80%;
    }
}
